.l {
  &-hd {
    padding: 30px 0px;
    &-inn {
      justify-content: space-between;
      align-items: center;
      &-logo {
        h1 {
          a {
            img {
              width: auto;
              height: 46px;
            }
          }
        }
      }
      &-nav {

      }
    }
  }
}