.l {
  &-mv {
    margin-top: 106px;
    overflow: hidden;
    @include mediaQuerySp() {
      margin-top: 77.3px;
    }
    &-inner {
      .slider {
        .slick-dots {
          bottom: 10px;
          li {
            margin: 0px;
            margin-right: 20px;
            width: 12px;
            height: 12px;
            button {
              padding: 0px;
              width: 12px;
              height: 12px;
              &::before {
                position: relative;
                font-size: 12px;
                line-height: 12px;
                width: 12px;
                height: 12px;
                color: #ffffff;
                opacity: 1;
                text-shadow: 0px 3px 6px rgba($color: #000000, $alpha: 0.16);
              }
            }
            &:last-child {
              margin-right: 0px;
            }
          }
          li.slick-active {
            button {
              &::before {
                color: #FC8223;
              }
            }
          }
        }
      }
    }
  }
}